.item {
  display: inline-block;
  padding: 10px;
  padding-bottom: 20px;
  width: 47%;
  margin-bottom: 10px;
  max-height: 100%;
  border-radius: 10px;
  overflow: auto;
}

.likert-option:nth-child(1) {
  color: #ba5f65;
  border: 1px solid #ba5f65;
}
.likert-option:nth-child(2) {
  color: #cb8589;
  border: 1px solid #cb8589;
}
.likert-option:nth-child(3) {
  color: #97a470;
  border: 1px solid #97a470;
}

.likert-option:nth-child(4) {
  color: #849357;
  border: 1px solid #849357;
}

.likert-option:hover:nth-child(1) {
  border: 2px solid #ba5f65;
  background: #ba5f65;
}

.likert-option:hover:nth-child(2) {
  border: 2px solid #cb8589;
  background: #cb8589;
}

.likert-option:hover:nth-child(3) {
  border: 2px solid #97a470;
  background: #97a470;
}

.likert-option:hover:nth-child(4) {
  border: 2px solid #66743D;
  background: #66743D;
}

.likert-option {
  font-size: 0.9em;
  border: 1px solid gray;
  border-radius: 30px;
  transition: all 0.3s;
  margin: 10px;
  transition: all 0.3s;

  background: transparent;
  padding: 5px 0.5em;
}

.selected {
  font-size: 0.9em;
  color: white;
  border: 3px solid #cb8589;
  background: #cb8589;
  border-radius: 100px;
  transition: all 0.3s;
  margin: 10px;
  padding: 5px 0.5em;
}

.likert-option:hover {
  color: white !important;
  transform: scale(1.1) translateY(-5px);
  transition: all 0.3s;
}

.likert-option:focus {
  outline: 0;
}

.selected:focus {
  outline: 0;
}

.submitButton {
  color: #778798;
  font-size: 0.9em;
  text-align: right;
  border-radius: 10px;
  border: 1px solid #778798;
  padding: 5px 1em;
  outline: 0;
}

.submitButton:hover {
  outline: 0;
  color: white !important;
  background: #97AEF4;
  transform: scale(1.1) translateY(-5px);
  transition: all 0.3s;
}


