.item {
  display: inline-block;
  padding: 10px;
  padding-bottom: 20px;
  width: 47%;
  margin-bottom: 20px;
  max-height: 100%;
  border-radius: 10px;
  overflow: auto;
  /* border: 1px solid red; */
}

.likert-option:nth-child(1):enabled {
  /* margin-left: 0px !important; */
  color: #ba5f65;
  border: 1px solid #ba5f65;
}
.likert-option:nth-child(2):enabled {
  color: #cb8589;
  border: 1px solid #cb8589;
}
.likert-option:nth-child(3):enabled {
  color: #97a470;
  border: 1px solid #97a470;
}

.likert-option:nth-child(4):enabled {
  color: #849357;
  border: 1px solid #849357;
}

.likert-option:hover:nth-child(1):enabled {
  border-color: #ba5f65;
  background: #ba5f65;
}

.likert-option:hover:nth-child(2):enabled {
  border-color: #cb8589;
  background: #cb8589;
}

.likert-option:hover:nth-child(3):enabled {
  border-color: #97a470;
  background: #97a470;
}

.likert-option:hover:nth-child(4):enabled {
  border-color: #66743d;
  background: #66743d;
}

.likert-option {
  font-size: 0.9em;
  border: 1px solid gray;
  border-radius: 30px;
  transition: all 0.3s;
  margin: 5px;
  transition: all 0.3s;
  background: transparent;
  padding: 5px 0.7em;
}

.selected {
  font-size: 0.9em;
  color: white;
  border: 1px solid #97aef4;
  background: #97aef4;
  border-radius: 30px;
  transition: all 0.3s;
  margin: 5px;
  padding: 5px 0.7em;
}

.likert-option:hover:enabled {
  color: white !important;
  transition: all 0.3s;
}

.likert-option:focus {
  outline: 0;
}

.selected:focus {
  outline: 0;
}

submitButton {
  color: #97aef4;
  font-weight: bold;
  font-size: 0.9em;
  text-align: right;
  border-radius: 10px;
  border: 1.5px solid #97aef4;
  padding: 5px 1em;
  outline: 0;
}

submitButton:hover {
  outline: 0;
  color: white !important;
  background: #97aef4;
  border: 1px solid white;
  transform: scale(1.1) translateY(-5px);
  transition: all 0.3s;
}

