.ListClass:focus {
  outline: 0;
}

.input-field {
  width: 90%;
  color: #314760;
  font-size: 14px;
  border: 0;
  padding: 5px 10px;
  background: transparent;
}
.input-field:focus {
  outline: 0;
}
.input-field::placeholder {
  color: #83909f;
}

.add-button {
  border: 0;
  font-size: 20px;
  background: transparent;
  text-align: center;
}

input:focus {
  outline: 0 !important;
}

hr {
  margin: 5px 10px;
  border: 0.5px solid gray;
  border-radius: 1;
}

.remove-button {
  display: inline-block;
  color: red;
  border: 0;
  right: 0;
  background: transparent;
}

ul {
  color: #314760;
}

li {
  width: 100%;
}
