.ListCard .header input {
  padding: 5px 5px;
  font-size: 14px;
  color: #f4b5a6;
  border: transparent;
  width: 85%;
}

.ListCard {
  margin: 3vh 0;
  background-color: white;
  padding: 10px;
  width: 60%;
  height: auto;
  max-height: 100%;
  border: 1px solid #99a3ad;
  border-radius: 10px;
  overflow: auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ListCard .theList {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.ListCard .theList li {
  color: #314760;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
  transition: background-color 0.2s ease-out;
}

.ListCard .theList li:hover {
  cursor: pointer;
}

ul.theList {
  padding: 0;
}

.input-field {
  width: 90%;
  color: black;
  font-size: 14px;
  border: 0;
  padding: 5px 5px;
  background: transparent;
}

.input-field:focus {
  outline: 0;
}
.input-field::placeholder {
  color: #f4b5a6;
}

.add-button {
  border: 0;
  font-size: 25px;
  background: transparent;
  text-align: center;
}

input:focus {
  outline: 0 !important;
}

.remove-button {
  display: inline-block;
  float: right;
  color: #d38492;
  border: 0;
  margin-right: 10px;
  background: transparent;
}

.remove-button:focus {
  outline: 0;
}

.checkbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  padding: 0px 7px !important;
}

.checkbox > span {
  color: #34495e;
  padding: 0.5rem 0.25rem;
}

.checkbox > input {
  height: 15px;
  width: 15px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid #314760;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #e7eaf3;
  cursor: pointer;
}

.checkbox > input:checked {
  border: 1px solid #314760;
  background-color: #e7eaf3;
}

.checkbox > input:checked + span::before {
  display: block;
  text-align: center;
  color: #314760;
  border: 2px solid #314760;
  position: absolute;
  left: 0.7rem;
  top: 0.2rem;
}

.checkbox > input:active {
  border: 2px solid #34495e;
}
