h1 {
  display: flex;
  justify-content: flex-start;
  color: #314760;
  /* align-items: flex-start; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.7em;
  width: 100%;
  top: 0;
  /* padding-left: 38px; */
  position: fixed;
}

h2 {
  color: #314760;
  padding-bottom: 2px;
}

h3 {
  display: flex;
  color: white;
}

p {
  color: #314760;
}

hr {
  margin: 5px 10px;
  border: 0.5px solid gray;
  border-radius: 1;
}

a {
  color: white;
  font-style: normal;
}

a:hover {
  color: #EF878D;
}

a:active {
  background-color: white;
}

buttonSubmit {
  color: #778798;
  text-align: right;
  border-radius: 10px;
  border: 1px solid #778798;
  padding: 5px 0.5em;
}