h1 {
  display: flex;
  justify-content: flex-start;
  color: #313660;
  /* align-items: flex-start; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.7em;
  width: 100%;
  top: 0;
  /* padding-left: 38px; */
  position: fixed;
}

h2 {
  color: #313660;
  padding-bottom: 2px;
}

h3 {
  color: #313660;
  font-size: 1.7em;
}

p {
  color: #313660;
}

hr {
  margin: 5px 5px;
  border: 0.5px solid gray;
  border-radius: 1;
}

a {
  color: white;
  text-decoration-line: none;
  font-weight: 700;
}
