@font-face {
  font-family: "Signika";
  src: url("./fonts/Signika/Signika-Regular.ttf");
}

body {
  background-color: #fafafe;
}

h1 {
  display: flex;
  justify-content: flex-start;
  color: #313660;
  font-family: "Signika";
  font-weight: bold;
  font-size: 1.7em;
  width: 100%;
  top: 0;
  position: fixed;
}

h2 {
  color: black;
  font-family: "Signika";
  font-weight: 600;
  padding-bottom: 2px;
}

h3 {
  color: black;
  font-family: "Signika";
  font-size: 1.8em;
  padding-left: 10em;
}

h4 {
  font-family: "Signika";
  font-weight: bold;
  color: black;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 0;
}

h5 {
  font-family: "Signika";
  color: black;
  font-size: 1.1em;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}

h6 {
  font-family: "Signika";
  color: black;
  font-size: 0.9em;
  padding: 5px;
  font-weight: 400;
  margin: 5px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: list-item; /* This has to be "list-item"                                               */
  list-style-type: disc; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
  list-style-position: inside;
}

p {
  font-family: "Signika";
  color: black;
}

hr {
  margin: 5px 5px;
  border: 0.5px solid gray;
  border-radius: 1;
}

a {
  font-family: "Signika";
  padding: 10px 0 0 22px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  height: 30px;
  border-radius: 20px 0px 0px 20px;
  transition: all 0.3s;
}

a:hover {
  background: #ffffff;
  color: #ef878d;
  transition: all 0.3s;
}

.curr-page {
  background: #fafafe;
  color: #ef878d;
  transition: all 0.3s;
}

ul {
  font-family: "Signika";
  color: black;
}

li {
  width: 100%;
  padding: 5px;
}
